<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-inline-block">Dan Clarke<small>.NET | Azure | Dev</small></a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item navitem-text-link"><a class="nav-link" href="/about">About me</a></li>
            <li class="nav-item navitem-text-link"><a class="nav-link" href="https://unhandledexceptionpodcast.com/" target="_blank">Podcast</a></li>
            <li class="nav-item navitem-text-link"><a class="nav-link" href="/public-speaking">Public Speaking</a></li>

            <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/&#64;danclarkeuk"><img class="socialImg" alt="YouTube" src="~/images/YouTube.png"/></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/dracan"><img class="socialImg" alt="Twitter" src="~/images/twitter.png"/></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/danclarkeuk"><img class="socialImg" alt="LinkedIn" src="~/images/linkedin.png"/></a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/dracan"><img class="socialImg" alt="GitHub" src="~/images/github.png"/></a></li>
            <li class="nav-item"><a class="nav-link" href="https://stackoverflow.com/users/227086/dan"><img class="socialImg" alt="StackOverflow" src="~/images/stackoverflow.png"/></a></li>
            <li class="nav-item"><a class="nav-link" href="/rss"><img class="socialImg" alt="RSS" src="~/images/rss.png"/></a></li>
            <li class="nav-item"><a class="nav-link" href="https://bio.link/danclarke"><img class="socialImg" alt="BioLink" style="background-color: #cccccc" src="~/images/biolink.svg"/></a></li>
        </ul>
    </div>
</nav>
