<form method="get" action="https://danclarke.beehiiv.com/subscribe" target="_blank">
    <input type="hidden" name="utm_source" value="DanClarkeBlog" />
    <input type="hidden" name="utm_medium" value="website" />
    <input class="btn btn-primary subscribe-button" type="submit" value="Subscribe to Newsletter" />
</form>
