<div id="darkmode-toggle-div">
    <i class="fas fa-adjust fa-2x"></i>
    <label class="switch" id="theme-switch">
        <input type="checkbox" id="checkbox_theme">
        <span class="slider round"></span>
    </label>
</div>