:root {
  --bgcolour: rgb(255, 255, 255);
  --bodytextcolour: rgb(0, 0, 0);
  --postListingDateColour: cornflowerblue;
  --postListingAnchorColour: cornflowerblue;
  --linkcolour: #50585D;
  --codeColour: darkslategrey;
  --postListingTagColour: cornflowerblue;
  --scrollBarBackgroundColour: inherit;
  --scrollBarColour: #c5c1b9;
  --scrollBarCornerBackgroundColour: inherit;
  --scrollBarThumbColour: inherit;
}

[data-theme="dark"] {
  --bgcolour: rgb(24, 26, 27);
  --bodytextcolour: rgb(218, 215, 210);
  --postListingDateColour: rgb(100, 168, 237);
  --postListingAnchorColour: rgb(51, 162, 255);
  --linkcolour: rgb(200, 196, 187);
  --codeColour: lightblue;
  --postListingTagColour: rgb(122, 171, 255);
  --scrollBarBackgroundColour: #1c1e1f;
  --scrollBarColour: #c5c1b9;
  --scrollBarCornerBackgroundColour: #181a1b;
  --scrollBarThumbColour: #2a2c2e;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
    .sidemenu {
        order: 2;
    }
    .body-container {
        order: 1;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* AFTER THIS IS CUSTOM */

body {
    font-size: 17px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background-color: var(--bgcolour);
    color: var(--bodytextcolour)
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-image: url('/images/HeaderBackground.jpg');
}

.navbar-brand {
    font-size: 26px;
    font-weight: bold;
}

.navbar-brand small {
    display:block;
    font-size:12px;
    padding-top: 2px;
}

.navitem-text-link {
    padding-top: 9px;
    font-size: 20px;
}

.postListing {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3 {
    font-weight: bold;
}

.blogPost h4 {
    margin-top: 25px;
}

.blogPost {
    line-height: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.blogPost img {
    max-width: 100%;
    margin: 10px auto 10px auto;
}

.postListing h1 {
    font-size: 22px;
    margin: 5px 0 5px 0;
}

.postListing img {
    max-width: 100%;
}

.postListing .blogPostDate {
    font-size: 14px;
    color: var(--postListingDateColour)
}

.postListing a, .blogPost a {
    color: var(--postListingAnchorColour)
}

.blogPost {
    font-size: 1.05em;
}

.blogPost hr {
    margin-top: 0;
}

.blogPost .blogPostDateAndTags {
    font-size: 0; /* Remove spacing between child elements */
}

.blogPost h1 {
    font-size: 32px;
    margin-top: 30px;
}

.blogPost .blogPostDateAndTags a,
.blogPost .blogPostDateAndTags span {
    font-size: 14px;
}

.postListing .tag {
    font-size: 14px;
    color: var(--postListingTagColour);
}

.sidemenu {
    background-color: rgb(24, 26, 27);
    color: #bbb;
}

.sidemenu .postTitle {
    font-size: 14px;
    margin-bottom: 5px;
}

.sidemenu .postTag {
    font-size: 14px;
    white-space: nowrap;
}

.sidemenu h3 {
    font-size: 16px;
    color: #fff;
}

.sidemenu img.profilePic {
    width: 100%;
}

.sidemenu .mvplogo {
    width: 100%;
}

.sidemenu .subscribe-button {
    width: 100%;
}

.sidemenu a:link,
.sidemenu a:visited,
.sidemenu a:hover {
    color: #bbb;
}

.paging {
    text-align: center;
}

.paging a {
    text-align: center;
}

.socialImg {
    height: 50px;
}

h1,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active,
h2,
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active,
h3,
h3 a:link,
h3 a:visited,
h3 a:hover,
h3 a:active
{
  color: var(--linkcolour)
}

footer {
    text-align: center;
}

.p404 {
    text-align: center;
}

code, pre code {
    color: var(--codeColour);
}

blockquote {
    font-size: 15px;
    font-style: italic;
    line-height: 1.4em;
}

.btn-primary {
    background-color: rgb(0, 98, 204);
}

::-webkit-scrollbar {
    background-color: var(--scrollBarBackgroundColour);
    color: var(--scrollBarColour);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollBarCornerBackgroundColour);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollBarThumbColour);
}

pre.prettyprint {
  margin: 10px 0 10px 0 !important;
}
