@model DanClarkeBlog.Web.ViewModels.ViewModelBase

@addTagHelper *, DanClarkeBlog.Web

@* ReSharper disable Mvc.PartialViewNotResolved *@

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@(string.IsNullOrWhiteSpace((string)ViewData["Title"]) ? "" : " - ")Dan Clarke</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/darkmode-switch.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/prism.css" />

    <link rel="alternate" type="application/rss+xml" title="Dan Clarke's Blog" href="http://www.danclarke.com/rss" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

    <script src="https://kit.fontawesome.com/cf5cb80ab6.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex flex-grow-1">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-inline-block">Dan Clarke<small>.NET | Azure | Dev</small></a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item navitem-text-link"><a class="nav-link" href="/about">About me</a></li>
                <li class="nav-item navitem-text-link"><a class="nav-link" href="https://unhandledexceptionpodcast.com/" target="_blank">Podcast</a></li>
                <li class="nav-item navitem-text-link"><a class="nav-link" href="/public-speaking">Public Speaking</a></li>

                <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/dracan"><img class="socialImg" alt="Twitter" src="~/images/twitter.png"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/danclarkeuk"><img class="socialImg" alt="LinkedIn" src="~/images/linkedin.png"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/dracan"><img class="socialImg" alt="GitHub" src="~/images/github.png"/></a></li>
                <li class="nav-item"><a class="nav-link" href="http://stackoverflow.com/story/danclarke"><img class="socialImg" alt="StackOverflow" src="~/images/stackoverflow.png"/></a></li>
                <li class="nav-item"><a class="nav-link" href="/rss"><img class="socialImg" alt="RSS" src="~/images/rss.png"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://bio.link/danclarke"><img class="socialImg" alt="BioLink" style="background-color: #cccccc" src="~/images/biolink.svg"/></a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-2 sidemenu">
            <vc:side-panel-left model="@Model" />
        </div>
        <div class="col-md-8 body-container">
            @RenderBody()
        </div>
        <div class="col-md-2 sidemenu">
            @await Html.PartialAsync("_SidePanelRight")
        </div>
    </div>
    <footer>
       <div class="row">
           <div class="col-md-2 sidemenu">
           </div>
           <div class="col-md-8">
                @await Html.PartialAsync("_Footer")
           </div>
           <div class="col-md-2 sidemenu">
           </div>
       </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/darkmode.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<script src="~/js/prism.js"></script>

<environment names="Staging,Production">
    <google-analytics></google-analytics>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
