## NOTE THAT THIS IS AN EXAMPLE VERSION WITH SECRETS REPLACED WITH "PLACEHOLDER"
apiVersion: v1
kind: ConfigMap
metadata:
  name: web-config
  namespace: blog
data:
  ASPNETCORE_ENVIRONMENT: Production
  Blog__BlogSqlConnectionString: Host=postgres;Database=blog;Port=5432;Username=PLACEHOLDER;password=PLACEHOLDER
  Blog__DisqusDomainName: PLACEHOLDER
  Blog__SlackNotificationUri: https://hooks.slack.com/services/PLACEHOLDER
  Blog__SiteHomeUri: https://www.danclarke.com
  Blog__ProfilePicUri: https://danclarkeblog.blob.core.windows.net/images/about/danprofile.png
  Blog__GoogleAnalyticsTrackingId: PLACEHOLDER
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tasks_config
  namespace: blog
data:
  Blog__DropboxAccessToken: PLACEHOLDER
  Blog__BlogSqlConnectionString: Host=postgres;Database=blog;Port=5432;Username=PLACEHOLDER;password=PLACEHOLDER
  Blog__AzureStorageConnectionString: PLACEHOLDER
  Blog__DisqusDomainName: PLACEHOLDER
  Blog__MaxResizedImageSize: "1000"
  Blog__SlackNotificationUri: https://hooks.slack.com/services/PLACEHOLDER
  Blog__BaseImageUri: https://danclarkeblog.blob.core.windows.net/images
  Blog__RabbitMQServer: rabbitmq
  Blog__RabbitMQUser: PLACEHOLDER
  Blog__RabbitMQPass: PLACEHOLDER
  Blog__DropboxAppSecret: PLACEHOLDER
  Blog__PostPreviewLength: "200"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: blog
data:
  POSTGRES_USER: PLACEHOLDER
  POSTGRES_PASSWORD: PLACEHOLDER
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
  namespace: blog
data:
  RABBITMQ_DEFAULT_USER: PLACEHOLDER
  RABBITMQ_DEFAULT_PASS: PLACEHOLDER
