@model DanClarkeBlog.Web.ViewModels.ViewModelBase

<h3>.NET Oxford Links</h3>

<div class="postTitle"><a href="https://www.meetup.com/dotnetoxford">Meetup.com</a></div>
<div class="postTitle"><a href="https://www.twitter.com/dotnetoxford">Twitter</a></div>
<div class="postTitle"><a href="/tags/dotnetoxford">Blog Posts</a></div>