@model DanClarkeBlog.Web.ViewModels.ViewModelBase

<h2>Featured</h2>

@foreach (var post in Model.FeaturedPosts)
{
    <div class="blogPostTitle"><a href="@post.Route">@post.Title</a></div>
    <div class="blogPostDate">@post.PublishDate.ToString("dd MMM yyyy")</div>
}