@model DanClarkeBlog.Web.ViewModels.HomeViewModel

<div class="paging">
    @if (Model.TotalPages > 0)
    {
        <span>Page @Model.PageNumber of @Model.TotalPages</span>
    }

    @if (Model.PageNumber > 1)
    {
        if (Context.Request.Query.TryGetValue("term", out var term))
        {
            <a href="?term=@(term)&page=@(Model.PageNumber - 1)">(view previous)</a>
        }
        else
        {
            <a href="?page=@(Model.PageNumber - 1)">(view previous)</a>
        }
    }

    @if (Model.PageNumber < Model.TotalPages)
    {
        if (Context.Request.Query.TryGetValue("term", out var term))
        {
            <a href="?term=@(term)&page=@(Model.PageNumber + 1)">(view more)</a>
        }
        else
        {
            <a href="?page=@(Model.PageNumber + 1)">(view more)</a>
        }
    }
</div>
