@model DanClarkeBlog.Web.ViewModels.HomeViewModel

@if (Model.Posts.Count == 0)
{
    <div style="margin: 25px 0 25px 0">
        <img src="images/sadface.png" width="100px" />
    </div>

    <p>Sorry, there were no results found matching your search query!</p>
    <p>If you were searching for a topic you think I should blog about, then please let me know! :)</p>
}

<div class="postListing">
    @foreach (var post in Model.Posts)
    {
        <div class="blogPostDate">@post.PublishDate?.ToString("dd MMM yyyy")</div>
        <h1><a href="@post.Route">@post.Title</a></h1>
        <div>@Html.Raw(post.HtmlShortText)</div>

        if (post.BlogPostTags != null) {
            foreach (var tag in post.BlogPostTags.Select(x => x.TagName)) {
                <a class="tag" href="/tags/@tag.ToLower()">@tag@(tag == post.BlogPostTags.Last().TagName ? "" : ", ")</a>
            }
        }

        <hr />
    }
</div>

@await Html.PartialAsync("_Paging")