@model List<DanClarkeBlog.Core.Models.BlogPost>

@foreach (var post in Model)
{
    <div class="blogPostTitle"><a href="@post.Route">@post.Title</a></div>
    <div class="blogPostDate">@post.PublishDate.ToString("dd MMM yyyy")</div>
    <div class="blogPost">@Html.Raw(post.HtmlShortText)</div>
}