@model DanClarkeBlog.Web.ViewModels.ViewModelBase

<h3>Search</h3>

<form action="/search" method="get">
    <div class="form-group">
        <input class="form-control" type="text" name="term"/>
        <input class="btn btn-primary subscribe-button" type="submit" value="Search"/>
    </div>
</form>

