@using DanClarkeBlog.Web.ViewModels
@model ViewModelBase

<img class="profilePic hidden-xs hidden-sm" alt="profilePic" src="@Model.ProfilePicUri"/>
<hr />

<a href="http://mvp.microsoft.com/en-us/PublicProfile/5003462"><img class="mvplogo hidden-xs hidden-sm" alt="mvplogo" src="~/images/MVP_Logo_Horizontal_Preferred_Cyan300_CMYK_300ppi.png"/></a>
<hr />

<form action="https://eepurl.com/c7WGFX" target="_blank">
    <input class="btn btn-primary subscribe-button" type="submit" value="Subscribe" />
</form>
<hr />

<div id="darkmode-toggle-div">
    <i class="fas fa-adjust fa-2x"></i>
    <label class="switch" id="theme-switch">
      <input type="checkbox" id="checkbox_theme">
      <span class="slider round"></span>
    </label>
</div>
<hr />

@await Html.PartialAsync("_TagCloud")
<hr />
