@using DanClarkeBlog.Web.ViewModels
@model ViewModelBase

@if (@Model is HomeViewModel)
{
    <img class="profilePic hidden-xs hidden-sm" alt="profilePic" src="@Model.ProfilePicUri"/>
    <hr />
}

<form action="http://eepurl.com/c7WGFX" target="_blank">
    <input class="btn btn-primary" type="submit" value="Subscribe for Email Updates" />
</form>
<hr />

@await Html.PartialAsync("_DotNetOxford")
<hr />
@await Html.PartialAsync("_RecentPosts")
<hr />
@await Html.PartialAsync("_FeaturedPosts")
<hr />
@await Html.PartialAsync("_TagCloud")
