@model List<DanClarkeBlog.Core.Models.BlogPost>

<div class="row">
    <div class="col-md-9" style="border: 1px solid red">
        @await Html.PartialAsync("_PostListing")
    </div>
    <div class="col-md-3" style="border: 1px solid red">
        PLACEHOLDER FOR RIGHTHAND MENU
    </div>
</div>
