@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9" style="border: 1px solid red">
        PLACEHOLDER FOR BLOG POST LISTING
    </div>
    <div class="col-md-3" style="border: 1px solid red">
        PLACEHOLDER FOR RIGHTHAND MENU
    </div>
</div>
