@using DanClarkeBlog.Web.ViewModels
@model ViewModelBase

<img class="profilePic hidden-xs hidden-sm" alt="profilePic" src="@Model.ProfilePicUri"/>
<hr />

<a href="http://mvp.microsoft.com/en-us/PublicProfile/5003462"><img class="mvplogo hidden-xs hidden-sm" alt="mvplogo" src="~/images/MVP_Logo_Horizontal_Preferred_Cyan300_CMYK_300ppi.png"/></a>
<hr />
<vc:subscribe-button />
<hr />
<vc:dark-mode-toggle />
<hr />
<vc:buy-me-a-coffee />
<hr />
<vc:tag-cloud tags="@Model.Tags" />
<hr />
